* {
    background-color: #D0C4DF;
    font-family: 'Segoe UI', sans-serif;
    color: #1E1014;
    line-height: 1.5;
    margin-left: 0;
    margin-right: 0;
}

h1 {
    color: white;
    font-weight: normal;
    font-size: 300%;
    text-transform: uppercase;
    text-align: right;
    background-color: #1E1014;
    padding-right: 20px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-shadow: 0px 0px 10px #CAFFD0;
}

section#about h2{
    font-weight: lighter;
    font-size: 250%;
    text-transform: lowercase;
    text-align: right;
    margin-bottom: 20px;
    padding-right: 10px;
    text-shadow: 0px 0px 6px #886176;
}

section#about p{
    text-align: right;
    font-style: italic;
    margin-bottom: 30px;
    padding-right: 10px;
    text-shadow: 0px 0px 5px #886176;
}

section#about img{
    width: 100%;
    opacity: 0.2;
    margin-top: -150px;
}

nav ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 40px;
    font-size: 125%;
}

nav ul li {
    margin-left: 0;
    border-bottom-style: solid;
}

nav ul li a{
    text-transform: lowercase;
    text-decoration: none;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 20px;
}

nav ul li a:hover{
    text-shadow: 2px 2px 6px #CAFFD0;
}

article {
    padding-left: 10px;
}

article h2 {
    font-weight: lighter;
    text-transform: lowercase;
    font-size: 250%;
    text-shadow: 0px 0px 6px #886176;
}

article p {
    font-style: italic;
    width: 50%;
    float: left;
    text-align: center;
}

article p a {
    margin-top: 20px;
    font-weight: bold;
    font-style: normal;
    border-style: solid;
    border-color: #886176;
    background-color: #886176;
    color: #D0C4DF;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

article p a:hover {
    text-shadow: 2px 2px 6px #1E1014;
}

article figure img {
    width: 50%;
}

article figure figcaption {
    text-align: right;
}